﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><div id="clock" class="clock">loading ...</div></h1>
    <p><a href="#" class="btn btn-primary btn-lg">Nueva</a></p>
</div>
 
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/Views/Home/Index.js"></script>