﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select {
    max-width: 280px;
}


.legend {
    min-height: 50px;
    background-color: whitesmoke;
    font-weight: bold;
}

    .legend span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }

        .legend span:after {
            padding-left: 4px;
            content: '\00a0\00a0\00a0\00a0\00a0\00a0';
            text-decoration: line-through;
        }
