﻿@{
    ViewBag.Title = "Tarde";
}

@section css{

}


<br />

<div class="row">

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">Registrar</div>
            <div class="panel-body">

                <div class="form-group">
                    <textarea id="ta-data" style="width:100%" rows="17" class="form-control"></textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-default" id="panel-days">
            <div class="panel-heading">Vista Previa</div>
            <div class="panel-body">


                <div class="form-group">
                    <div class="table table-responsive">
                        <table id="tbl-data" class="table table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <select id="s-year" class="form-control">
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button id="btn-save" class="btn btn-primary ladda-button" data-style="expand-left"><span class="ladda-label">Guardar</span></button>
                    </div>

                    <div class="col-md-6">
                        * Formato de fecha (dd-mmm)
                    </div>
                </div>


            </div>
        </div>

    </div>


</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/spin.min.js"></script>

<script src="~/Scripts/Views/Delay/Create.js"></script>
 