﻿
@{
    ViewBag.Title = "Index";
}


@section css{

    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/morris/morris.css" rel="stylesheet" />

}

@section menu{

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Año <span class="caret"></span></a>
            <ul id="weeks" class="dropdown-menu"></ul>
        </li>
    </ul>

}

<br />

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">Semanas</div>
            <div class="panel-body">
                <div id="graph_week_day"></div>
                <div id="legend" class="legend"></div>
            </div>
        </div>

    </div>

</div>


@section scripts{

    <script src="~/Scripts/page.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/morris/morris.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/Views/Delay/Index.js"></script>
}







