﻿
@{
    ViewBag.Title = "Semanal";
}

@section css{

    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/morris/morris.css" rel="stylesheet" />
}


@section menu{

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Meses <span class="caret"></span></a>
            <ul id="weeks" class="dropdown-menu"></ul>
        </li>
    </ul>

}

<br />

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">Julio</div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table id="table-delay" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Colaborador</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div>
     

</div>


@section scripts{

    <script src="~/Scripts/page.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/morris/morris.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/Views/Delay/Month.js"></script>
}









