﻿
@{
    ViewBag.Title = "Semanal";
}

@section css{

    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/morris/morris.css" rel="stylesheet" />
     
}


@section menu{

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Semanas <span class="caret"></span></a>
            <ul id="weeks" class="dropdown-menu"></ul>
        </li>
    </ul>

}

<br />

<div class="row">

    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">Semana actual</div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table id="table-delay" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Colaborador</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miércoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div>



    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">Gráfico</div>
            <div class="panel-body">
                <div id="graph_total"></div>
            </div>
        </div>

    </div>

    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">Gráfico</div>
            <div class="panel-body">
                <div id="graph_delay"></div>
                <div id="legend" class="legend"></div>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">Total por día</div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table id="table-total" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Día</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th id="total-week"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>


@section scripts{

    <script src="~/Scripts/page.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/morris/morris.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/Views/Delay/Week.js"></script>
}









